<h1>My chores</h1>
<ul class="sticky">
    <% chores.forEach(function(chore) { %>
        <% if(chore.user_id == userID && chore.date_completed == null)  { %>
            <li>
                <a href="#">
                    <h2>
                        <%= chore.chore_name %>
                    </h2>
                    <p>
                        <%= chore.description %>
                    </p>
                    <p>
                        XP:
                        <%= chore.xp_reward %>
                    </p>
                    <p>
                        <%= chore.date_completed %>
                    </p>
                    <button id="<%= chore.chore_id %>" onclick="completeChore(this.id)">Complete Chore</button>
                </a>
            </li>
            <% } %>
                <% }); %>
</ul>